*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
   background: linear-gradient(to right, #4da3ff, #5ecbff);
   height: 230px;
}

.top-page{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}


.logo{
   display: flex;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-right: 50px;
    margin-left: 150px;
}
    
.logo img{
    width: 250px;
}

.nav a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 19px;
}

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.right-section{
    display: flex;
    align-items: center;
}


.search{
    display: flex;
     margin-left: 420px;
    margin-right: 30px;
}

.search img{
    width: 30px;
}

.advanced a{
     font-weight: 300;
     color: white;
     margin-right: 150px;
     text-decoration: none;
     font-size: 19px;
}

.bouton-bas{
    display: flex;
    background: white;
    padding: 15px 40px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #4da3ff;
    bottom: -50px;
    position: relative;
    height: 100px;
}

nav.left a{ 
    list-style: none;
    color: black;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none; 
}

nav.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    gap: 30px;
}

nav.right a{
    list-style: none;
    color: black;
    font-weight: 300;
    font-size: 19x;
    text-decoration: none;
}

nav.right{
     display: flex;
     justify-content: space-between;
      margin-right: 150px;
      align-items: center;
     gap: 25px;
}


